/* Reset default styles */
* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 28px;
    margin-left: 10px;
    margin-top: 20px;
}

a {
    font-family: monospace;
    font-size: 12px;
    text-decoration: none;
    color: #808080;
    margin-left: 10px;
    margin-bottom: 20px;
}

.kings-regular {
    font-family:"kings-caslon";
    font-style:normal;
    font-weight:400;
}

.kings-italic {
    font-family:"kings-caslon";
    font-style:italic;
    font-weight:400;
}

.kings-bold {
    font-family:"kings-caslon";
    font-style:normal;
    font-weight:700;
}

.kings-bold-italic {
    font-family:"kings-caslon";
    font-style:italic;
    font-weight:700;
}

.ivy-regular {
    font-family:"ivymode";
    font-style:normal;
    font-weight:400;
}

.ivy-italic {
    font-family:"ivymode";
    font-style:italic;
    font-weight:400;
}

.ivy-bold {
    font-family:"ivymode";
    font-style:normal;
    font-weight:700;
}

.ivy-bold-italic {
    font-family:"ivymode";
    font-style:italic;
    font-weight:700;
}
